	<style>
         
 .feature{
     padding: 20px 0;
    text-align: center;
	 
 }
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{

    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }
    .follow-us-container
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .social-icon
    {
        padding-top: 6px;
        font-size: 16px;
        text-align: center;
        width: 32px;
        height: 32px;
        border: 2px solid white;
        border-radius: 50%;
        color: white;
        margin: 5px;
    }

    a.social-icon:hover, a.social-icon:active, a.social-icon:focus
    {
        text-decoration: none;
        color: #434343;
        border-color: #434343;
    }
    #contact_section{
       
        width:800px;
        height:520px;
    }
    @media only screen and (max-width:1022px) {
          #contact_section{
            width: 100%; 
          }      
    }
     @media only screen and (max-width:800px) {
          #contact_section{
            width: 100%; 
          }      
    }
			
			.di
			{
				height: 100px;
				width: 150px;
				display: inline-block;
				
			}
			.dib
			{
				height: 100px;
				width: 180px;
				display: inline-block;
				
			}
			p{
				font-size: 12px;
				font-family: sans-serif;
			
			}
</style>
















<div>
    <center><h1>Team Resurgence</h1></center>
    <hr>
</div>
<div id="contact_section">
    
	
						
			

    
    
     <div class="row feature">
        
         <div class="dib">
            <div>
                <img src="images/varun.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <h4><b>Dr. Varun Tripathi</b></h4>
                 Faculty Coordinator</p>
                
            </div>
        </div>
         
        
       <div class="dib">
            <div>
                <img src="images/yk.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Dr.Yugal Khajuria</b> 
                 Dean of student<br>
                </p>
                
            </div>
        </div>
		 
		 <div class="dib">
            <div>
                <img src="images/rk.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Dr. Rakesh Sharma</b> 
                 Faculty Coordinator</p>
                
            </div>
        </div>
        
    </div>
    
    
    
    
    
    
      <div class="row feature">

      	<div class="dib">
            <div>
                <img src="images/nayan.jpeg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Nayan Tiwari</b><br>Cultural Secretary
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>
        <div class="dib">
            <div>
                <img src="images/gsec.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Bhupendra Singh</b><br>General Secretary 
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>
        
         <div class="dib">
            <div>
                <img src="images/akshay.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Akshay Sharma</b><br>Cultural Coordinator 
                 </p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>
		  <div class="dib">
            <div>
                <img src="images/parbhat.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
               <p><b>Parbhat Puri</b><br>Web Developer</p>
                                <div class="">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>
         
       	  
		  
    
   </div>

	<div class="row feature">


	<div class="dib">
            <div>
                <img src="images/ss.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Sumit Srivastava</b><br> Web Developer</p>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>

	<div class="dib">
            <div>
                <img src="images/st.jpg" alt="Texto Alternativo" class="img-circle img-thumbnail">
                <p><b>Shyam Tayal</b><br> Web Developer</p>
                            
                                <div class="text-center">
                                        <a class="fa fa-facebook social-icon" href="#" target="_blank"></a >
                                        
                                        <a class="fa fa-google-plus social-icon" href="#" ></a>
                                </div>
                
            </div>
        </div>


	</div>

    
    
    
    
		
		
		
		
    
            


 
